<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.andy.dao.BossResumeMapper">
    <insert id="addBossResume" parameterType="BossResume">
        insert into T_BOSS_RESUME (BR_ID, BR_DATE, BR_JOB, BR_UNAME, BR_UPHONE, BR_UEMAIL) values (BOSSRESUME_SEQ.nextval,#{br_date},#{br_job},#{br_uname},#{br_uphone},#{br_uemail})
    </insert>
    <select id="allBossResume" resultType="com.andy.model.BossResume">
        select BR_ID,BR_DATE,BR_JOB,BR_UNAME,BR_UPHONE,BR_UEMAIL from T_BOSS_RESUME
    </select>
</mapper>